/* --- * relates its values to EVERYTHING on the site --- */
/* font-family: 'Antonio', sans-serif;
font-family: 'Montserrat', sans-serif; */

/* --- MAIN BODY CSS VALUES --- */

body {
    margin: 0;
    background-color: #09090B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/* --- ID VALUES --- */

#top-page {
    display: flex;
}

#logo {
    width: auto;
    height: auto;
    
}

#copyright {
    margin-top: 32px;
}

/* --- ALL GENERAL ANCHOR CSS VALUES. CAN BE OVERWRITTEN BY SPECIFYING WHAT KIND OF ANCHOR WE GIVE VALUES TO --- */

a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    text-decoration-color: #CA0000;
}

/* --- NAVIGATIONBAR CSS VALUES --- */

.nav-bar {
    width: 100%;
    position: fixed;
    z-index: 2; 
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #242428;
    color: #FFFFFF;
    border-bottom: 2px;
    border-color: #AAAAAA;
    border-bottom-style: solid;
}

.nav-bar .search-container {
    display: flex;
    margin: 0 auto 0 22%;
}

.nav-bar input[type=text] {
    padding: 8px;
    border: none;
    margin: auto;
    font-size: 16px;
    width: 30vw;
}

.nav-bar .search-container button {
    float: right;
    padding: 8px;
    margin: auto;
    background: #008a1e;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.nav-bar .search-container button:hover {
    background: #00b12f;
}

.nav-btn {
    display: flex;
    font-family: 'Antonio', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    border: none;
    margin: auto 12% auto auto;
    text-align: center;
    cursor: pointer;
}

.nav-btn-current {
    color: #FFFFFF;
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
    font-weight: 600;
    border: none;
    margin: auto 12% auto auto;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #CA0000;
}

.nav-btn a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.nav-btn a:active {
    text-decoration: underline;
    text-decoration-color: #CA0000;
}
.nav-icons {
    margin: auto 16px;
}

/* --- SIDEBAR ELEMENT --- */

.side-nav {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 56px;
    background-color: #242428;
    border-right: 2px;
    border-right-style: solid;
    border-color: #666;
    align-items: center;
}

.side-nav a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 70px;
    border-top: 0px;
    border-left: 0px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #AAA;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    display: block;
}

.side-nav a:hover {
    background-color: #666666;
}

.side-nav a:active {
    background-color: #AAA;
    color: #CA0000;
}

#favorites-cat {
    font-size: 24px;
}

#action-cat {
    font-size: 24px;

}
#drama-cat {
    font-size: 24px;
}

#horror-cat {
    font-size: 24px;

}
#thriller-cat {
    font-size: 24px;
}

#comedy-cat {
    font-size: 24px;
}

#scifi-cat {
    font-size: 24px;
}

#romance-cat {
    font-size: 24px;
}

#fantasy-cat {
    font-size: 24px;
}

/* --- PRODUCT PAGE LIST CSS STYLE VALUES --- */

.list-page {
    margin-top: auto;
    margin-left: 324px;
    padding: 0px 10px;
}


/* --- FOOTER CONTAINER CSS VALUES --- */

.footer-c {
    z-index: 1;
    margin-top: auto;
    background-color: #242428;
    color: #FFFFFF;
    border-top: 2px;
    border-color: #AAAAAA;
    border-top-style: solid;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 16px;
}

.l-foot {
    float: left;
    display: inline;
}

.r-foot {
    float: right;
    text-align: right;
    display: inline;
}

.back-top {
    display: flex;
}

.bg-fade {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(90deg, rgba(0,0,0,1) 57%, rgba(0,0,0,0.7) 100%);
}

.bg-img {
    height: 100vh;
    width: auto;
    margin-top: 60px;
    margin-bottom: -60px;
    float: right;
    object-fit: contain;
}
