body {
    margin: 0;
    background-color: #09090B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#topofpage {
    display: flex;
}
#copyright {
    margin-top: 32px;
}
a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    text-decoration-color: #CA0000;
}

.navbar {
    position: sticky;
    overflow: hidden;
    display: flex;
    background-color: #242428;
    color: #FFFFFF;
    border-bottom: 2px;
    border-color: #AAAAAA;
    border-bottom-style: solid;
}

.navbar .search-container {
    display: flex;
    margin: 0 auto 0 22%;
}

.navbar input[type=text] {
    padding: 8px;
    border: none;
    margin: auto;
    font-size: 16px;
    width: 30vw;
}

.navbar .search-container button {
    float: right;
    padding: 8px;
    margin: auto;
    background: #008a1e;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbar .search-container button:hover {
    background: #00b12f;
}

.navbtn {
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin: auto 12% auto auto;
    text-align: center;
    cursor: pointer;
}

.navbtn a:hover {
    text-decoration: underline;
    text-decoration-color: #CA0000;
}

.navbtn a.active {
    text-decoration: underline;
    text-decoration-color: #CA0000;
}
.navicons {
    margin: auto 16px;
}

.footerc {
    margin-top: auto;
    background-color: #242428;
    color: #FFFFFF;
    border-top: 2px;
    border-color: #AAAAAA;
    border-top-style: solid;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 16px;
}

.lfoot {
    float: left;
    display: inline;
}

.rfoot {
    float: right;
    text-align: right;
    display: inline;
}

.backtotop {
    display: flex;
}

